CYCLIC_URL=https://victorious-pear-termite.cyclic.app
CYCLIC_DB=victorious-pear-termiteCyclicDB
BUCKET=cyclic-victorious-pear-termite-us-east-2
CYCLIC_BUCKET_NAME=cyclic-victorious-pear-termite-us-east-2
CYCLIC_APP_ID=victorious-pear-termite
